In [17]:
import pandas as pd
import matplotlib.pyplot as plt
converters = {col: str for col in [1,2,4]}
data = pd.read_excel(r'C:\Users\diver\Desktop\CCCD HUYEN YEN BINH.xlsm', 'Data', skiprows = (0,1,2,3,4), usecols ='A:G', converters = converters)
df = pd.DataFrame(data)
df['Năm sinh'] = df['Ngày sinh'].str[-4:].astype(int)
df[['thon','xa','huyen','tinh']] = df['HKTT'].str.split(', ', expand = True, n = 3)
dvthacba = pd.read_excel(r'C:\Users\diver\Desktop\Jupyter notebook\DonViHanhChinh.xlsx','ThacBa')
df_dvthacba = pd.DataFrame(dvthacba)

In [ ]:
df.groupby('xa').size().plot.bar();

In [ ]:
df.groupby('Năm sinh').size()

In [ ]:
df[df['tinh'].str.len() > 10]

In [ ]:
searchfor = [' Thị ','Hương', 'Lan', 'Hằng', 'Trang', ' Mai', 'Nhung', 'Lan Anh', 'Hoa', 'Tuyết']
df[(df['Giới tính'].str.contains('Nam')) & (df['Họ tên'].str.contains('|'.join(searchfor))) & (~df['Họ tên'].str.contains(' Văn '))]

In [ ]:
df[df['xa'] == 'Yên Bình']

In [2]:
df[(df['Số CMND'].isna()) & (df['Năm sinh'] == 2003)]
# .to_csv('cccd.csv', encoding = 'utf-8-sig', index = False)

,STT,Số CCCD,Số CMND,Họ tên,Ngày sinh,Giới tính,HKTT,Năm sinh,thon,xa,huyen,tinh
29,30,015303000892,NaN,Nguyễn Thu Hà,15072003,Nữ,"Thôn Đại Thân, Đại Minh, Yên Bình, Yên Bái",2003,Thôn Đại Thân,Đại Minh,Yên Bình,Yên Bái
33,34,015303000891,NaN,Mai Phương Loan,10032003,Nữ,"Thôn Vũ Sơn, Vũ Linh, Yên Bình, Yên Bái",2003,Thôn Vũ Sơn,Vũ Linh,Yên Bình,Yên Bái
39,40,015203000859,NaN,Bàn Văn Lợi,21112003,Nam,"Thôn Khe Ngang, Yên Thành, Yên Bình, Yên Bái",2003,Thôn Khe Ngang,Yên Thành,Yên Bình,Yên Bái
65,66,015203000975,NaN,Lưu Dương Hưng,24022003,Nam,"Thôn Khuôn Đát, Phúc An, Yên Bình, Yên Bái",2003,Thôn Khuôn Đát,Phúc An,Yên Bình,Yên Bái
66,67,015203000974,NaN,Nguyễn Hùng Cường,23102003,Nam,"Tổ dân phố 3, Thác Bà, Yên Bình, Yên Bái",2003,Tổ dân phố 3,Thác Bà,Yên Bình,Yên Bái
...,...,...,...,...,...,...,...,...,...,...,...,...
1197,1198,015203000683,NaN,Phạm Trường Giang,13112003,Nam,"Tổ 4, Thị trấn Yên Bình, Yên Bình, Yên Bái",2003,Tổ 4,Thị trấn Yên Bình,Yên Bình,Yên Bái
1314,1315,015303000725,NaN,Hoàng Thị Chuyền,06082003,Nữ,"Thôn Tiền Phong, Xuân Long, Yên Bình, Yên Bái",2003,Thôn Tiền Phong,Xuân Long,Yên Bình,Yên Bái
1643,1644,015303000909,NaN,Trần Thị Huyền,02092003,Nữ,"Thôn Trác Đà, Hán Đà, Yên Bình, Yên Bái",2003,Thôn Trác Đà,Hán Đà,Yên Bình,Yên Bái
1649,1650,015203000875,NaN,Lê Mạnh Tú,29112003,Nam,"Tổ dân phố 1, Thác Bà, Yên Bình, Yên Bái",2003,Tổ dân phố 1,Thác Bà,Yên Bình,Yên Bái
1656,1657,015203000873,NaN,Phạm Xuân Khải,21022003,Nam,"Thôn Hồng Quân, Hán Đà, Yên Bình, Yên Bái",2003,Thôn Hồng Quân,Hán Đà,Yên Bình,Yên Bái

In [9]:
df_thacba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DonVi   6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [19]:
df[~df.thon.isin(df_dvthacba['DonVi']) & (df['xa'] == 'Thác Bà')].to_csv('thacba_sai.csv', encoding='utf-8-sig', index = False)